<form class="company-form" [formGroup]="companyDetails" (ngSubmit)="submitData()">

  <h2 class="form-title"> Job Details</h2>

  <div class="form-group">
    <label>Company Name:</label>
    <input type="text" formControlName="companyName" placeholder="Enter Company Name..." />
    <p class="error" *ngIf="isRequired('companyName')">* Company Name is Required</p>
  </div>

  <div class="form-group">
    <label>Company Logo:</label>
    <input type="file" formControlName="companyLogo" />
    <p class="error" *ngIf="isRequired('companyLogo')">* Company Logo is Required</p>
  </div>

  <div class="form-group">
    <label>Role Of Job:</label>
    <input type="text" formControlName="role" placeholder="Enter Job Role..." />
  </div>

  <div class="form-group">
    <label>About The Role:</label>
    <textarea formControlName="roleDetails" placeholder="Enter the Role Details..."></textarea>
    <p class="error" *ngIf="isRequired('role')">* Role Details is Required</p>
  </div>

  <div class="form-group">
    <label>Job Details:</label>
    <textarea formControlName="jobDetails" placeholder="Enter the Job Details..."></textarea>
    <p class="error" *ngIf="isRequired('jobDetails')">* Job Details is Required</p>
  </div>

  <div class="form-group">
    <label>Job Requirements:</label>
    <textarea formControlName="requirements" placeholder="Enter the Requirements"></textarea>
    <p class="error" *ngIf="isRequired('requirements')">* Job Requirements is Required</p>
  </div>

  <div class="form-group duration-group">
    <label>Job Duration:</label>
    <div class="duration-fields">
      <div>
        <label>From:</label>
        <input type="date" formControlName="durationFrom" />
      </div>
      <div>
        <label>To:</label>
        <input type="date" formControlName="durationTo" />
      </div>
    </div>
    <p class="error" *ngIf="isRequired('durationFrom')">* Duration From is Required</p>
    <p class="error" *ngIf="isRequired('durationTo')">* Duration To is Required</p>
  </div>

  <div class="form-group">
    <label>Location:</label>
    <input type="text" formControlName="location" placeholder="Enter Location..." />
    <p class="error" *ngIf="isRequired('location')">* Location is Required</p>
  </div>

  <div class="submit-container">
    <button type="submit">Submit</button>
  </div>

</form>
